div.about {
    margin: 30px 0px;
    padding: 30px 0px;
    animation: 1s 1 beatHeart;
    @include basic-shadow;
}


.skills-list {
    padding-left: 0;
    font-size: 0.8em;
    letter-spacing: 2px;
    
    
    li {
        display: inline-flex;
        background-color: $purple;
        padding: 5px;
        margin: 5px;
        
    }

    li:nth-child(odd) {
        background: $bright;
        color: $dark;
    }    
}

.info-list {
    padding-left: 0;
    font-size: 0.8em;
    letter-spacing: 2px;
    
    

    li {
        display: inline-flex;
        background-color: $purple;
        padding: 5px;
        margin: 5px; 
    }

    li:nth-child(even) {
        background: $bright;
        color: $dark;
    }

    
}




.aboutAccord {

    .subHeader {
        transition: $basic-transition;
        &:hover {
            color: $bright;
            transform: translatex(5%);
            transition: $basic-transition;
            
        }
    }
    .card {
        border: none;
        border-radius: 1px;
        background-color: transparent;
        margin-top: 10px;
        cursor: pointer;
        border-left: solid 5px $purple;
        transition: $basic-transition;

        &:hover{
            border-left: solid 5px $bright;
            color: $bright;
            transition: $basic-transition;
        }
        
    }

    div.card-header {
        background-color: transparent;
        border:none;
    }

   

}

