
.main-container {
    margin-top: -420px;
    padding-top: 420px;
    margin-bottom: -200px;
    padding-bottom: 200px;

    &.dark-gradient {
        @include dark-gradient;
    }

    &.dark {
        background-color: $dark;
        color: $bright
    }

    .mainHeader {
        text-align: center;
    }
}

.icon-container {

    a {
        display: inline-flex;
        margin: 0px 10px 0px 0px;

        :hover {
            animation-name: beat;
            animation-duration: 500ms;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            
        }
    }

}








//MEDIA QUIERIES//
@media screen and (min-width: 577px) {
    
}

@media screen and (max-width: 577px) {
    

}