//Styles for "Contact Page//

//ERROR Message//
.errorMessage {
    color: $pink;
    text-align: right;
    border-right: $basic-purple;
    font-family: $headerFont;
    padding: 5px;
    transition: $basic-transition;
    animation-name: bigger;
    animation-duration: 250ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

//VALIDATION Message//
.formValidated {
    margin: 10px;
    text-align: center;
    font-size: 1.2em;
    color: $pink;

}
//Contact Form Styles//
div.formBox {
    color: $pink;
    font-family: $headerFont;

    .form-control {
        background-color: transparent;
        border: none;
        border-radius: 0%;
        border-bottom: $basic-purple;
        color: $bright;
        padding: 2px;
        
        &:focus {
            outline: none;
            box-shadow: none;
            border-bottom: $basic-bright;  
        }

        &::placeholder {
            color: rgba($color: $bright, $alpha: 0.6)
        }
    }

    :-webkit-autofill {
        animation-delay: 1s;
        animation-name: autofill;
        animation-fill-mode: both;     
    }
}

//"Send Button" Styles//
.formButton {
    background-color: $magenta;
    padding: 15px;
    color: $bright;
    border: none;
    border-radius: 2px;
    float: right;
    @include basic-shadow;
    transition: $basic-transition;

    &:hover {
        background-color: $bright;
        color: $dark;
        text-decoration: none;
        border: none;
        transition: $basic-transition;
    }

    &:focus {
        background-color: $bright;
        color: $dark;
    }

    &:active {
        background-color: $pink !important;
        color: $bright;
        text-decoration: none;
        border: none;
    }
}







//MEDIA QUIERIES//
@media screen and (min-width: 576px) {}

@media screen and (max-width: 575px) {}