//Intro page, animated logo//
.hugeLogo img {
    padding: 8vh;
    width: 1200px;
    min-width: 330px;
    margin: 5em;
    animation: 3s 1 bigger;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}

//Profile Image on "About" page//
.profileImage {
    img {
        border-radius: 2%;
        margin: 10px 10px;
        border: $basic-pink;
    }
}

//MEDIA QUIERIES//
@media screen and (min-width: 576px) {}

@media screen and (max-width: 575px) {}