.hugeLogo img {
    padding: 8vh;
    width: 1200px;
    min-width: 330px;
    margin: 5em;
    animation: 3s 1 beatHeart;
    filter: drop-shadow(7px 7px 7px #000000);
    -webkit-filter: drop-shadow(7px 7px 7px #000000);
}


.profileImage img {
    border-radius: 2%;
   
    margin: 20px;
}


  
