.navbar {
    background-color: transparent;
    padding: 5px;
}

.theNavlinks {
    #nav-link, .dropdown {
        color: $purple;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 10px;
    
        &.active {
            text-decoration: underline !important;
            color: $bright;
        }

        &:hover {
            color: $bright;
            text-decoration: none;
        }
    }

    .dropdown-toggle.nav-link {
        padding: 0px;
        margin: 0px 10px;
        color: $magenta;
        &.active {
            text-decoration: underline;
            color: $bright;
        }

        &:hover {
            color: $bright;
        }
    }
}


//FOOTER//
.footercontent {
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgba($color: $pink, $alpha: 0.3);

    p:hover {
        color: $magenta;
    }
}

//MEDIA QUIERIES//
@media screen and (min-width: 577px) {
    .second-brand {
        display: none;
    }
}

@media screen and (max-width: 577px) {
    span.navbar-brand {
        display: none;
    }

    .second-brand {
        padding: 10px;
    }

    .theNavlinks {
        .dropdown-toggle.nav-link {
            padding: 0px;
            margin: 10px 0px;
        }
    }

}