.navbar {
    background-color: transparent;
    padding: 7px;
}

.theNavlinks {
    #nav-link, .dropdown {
        color: $purple;
        letter-spacing: 5px;
        text-transform: uppercase;
        margin: 15px;
        
        transition: $basic-transition;
    
        &.active {
            color: $magenta;
        }

        &:hover {
            color: $bright;
            text-decoration: none;
            transition: $basic-transition;
        }
    }

    .dropdown-toggle.nav-link {
        padding: 0px;
        margin: 0px 10px;
        color: $purple;
        &.active {
            color: $magenta;
        }

        &:hover {
            color: $bright;
            transition: 0.6s ease-in-out;
        }
    }
}

span.navbar-brand {
    padding: 10px;
}


//FOOTER//
.footercontent {
    background-color: transparent;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: rgba($color: $pink, $alpha: 0.3);

    p:hover {
        color: $magenta;
    }
}

//MEDIA QUIERIES//
@media screen and (min-width: 577px) {
    .second-brand {
        display: none;
    }
}

@media screen and (max-width: 577px) {
    span.navbar-brand {
        display: none;
    }

    .second-brand {
        padding: 10px;
    }

    .theNavlinks {
        .dropdown-toggle.nav-link {
            padding: 0px;
            margin: 10px 0px;
        }
    }

}