.navbar {
    background-color: transparent;
    padding: 7px;
}

.navbar-toggler, .collapsed {
    background-color: rgba($color: $magenta, $alpha: 0.4)
} 

.theNavlinks {
    #nav-link, .dropdown {
        color: $purple;
        letter-spacing: 5px;
        text-transform: lowercase;
        margin: 15px;
        font-weight: 600;
        
        transition: $basic-transition;
    
        &.active {
            color: $magenta;
        }

        &:hover {
            color: $bright;
            text-decoration: none;
            transition: $basic-transition;
            transform: translatex(2%);
            transition: $basic-transition;
        }
    }

    .dropdown-toggle.nav-link {
        padding: 0px;
        margin: 0px 10px;
        color: $purple;
        &.active {
            color: $magenta;
        }

        &:hover {
            color: $bright;
            transition: 0.6s ease-in-out;
        }
    }
}

span.navbar-brand {
    padding: 10px;
}


.dropdown-menu.show {
    background-color: transparent;
    border: none;
}



//FOOTER//
.footercontent {
    background-color: transparent;
    padding: 10px;
    margin-top: 12vh;
    text-align: center;
    color: rgba($color: $pink, $alpha: 0.3);

    p:hover {
        color: $magenta;
    }
}

//MEDIA QUIERIES//
@media screen and (min-width: 577px) {
    .second-brand {
        display: none;
    }
}

@media screen and (max-width: 577px) {
    span.navbar-brand {
        display: none;
    }

    .second-brand {
        padding: 10px;
    }

    .theNavlinks {
        .dropdown-toggle.nav-link {
            padding: 0px;
            margin: 10px 0px;
        }
    }

}


//BACK TO TOP BUTTON//
.to-top-container {
    display: block;
    text-align: center;
    padding-bottom: 20px;
}

.return-top-btn {
    background-color: rgba($color: $bright, $alpha: 0.1);
    padding: 5px;
    border:none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;

    &:hover {
        background-color: rgba($color: $bright, $alpha: 0.2);
        animation-name: beat;
        animation-duration: 800ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;  
    }

    img {
        width: 40px;
        height: 40px;
    }
}