//Styles for the Portfolio Components//@extend

//The Portfolio Portal Page//
.content-box-portfolio-portal {
    .subHeader {
        text-align: center;
        color: $purple;
    }
}

.card.portfolio-portal-card {
    text-align: center;
    margin: 10px;
    margin-bottom: 4vw;
    padding: 0px;
    max-width: 280px;
    background: transparent;
    border: none;
    @include basic-shadow;

    .card-body {
        padding: 5px;
    }

    img {
        border: none;
        border-radius: 15px;
        transition: $basic-transition;
    }

    .subHeader {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.2em;
        color: $pink;
        text-transform: uppercase;
        border-bottom: $basic-purple;
    }

    &:hover {
        transition: $basic-transition;
        animation-name: beat;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 999;
    }

    a:hover {
        text-decoration: none;
    }
}

//The Portfolio Project Detail Components/
.content-box.content-box-portfolio{
    background-color: $bright;

    .mainHeader {
        margin-bottom: 2px;
    }

    .subHeader {
        text-align: center;
    }
}

.button-list.portfolio {
    padding-top: 23px;
}

//Styles for the React-Image-Gallery Carousel//
.carousel-col {
    @include basic-shadow;    
}

.image-gallery {
    margin: 0 auto;
    width: 65%;
    transition: all 1s ease;
}



//MEDIA QUIERIES//
@media screen and (min-width: 578px) {}

@media screen and (max-width: 577px) {}