//PORTAL MAIN PAGE/////
.content-box-portfolio-portal {
    background-color: $magenta;
    .subHeader {
        text-align: center;
    }
}

.card.portfolio-portal-card {
    text-align: center;
    
    margin: 10px;
    margin-bottom: 4vw;
    padding: 0px;
    max-width: 280px;
    background: transparent;
    border: none;
    @include basic-shadow;
    

    .card-body {
        padding: 5px;   
    }

    img {
        border:none;
        border-radius: 15px;
        transition: $basic-transition;

        &:hover {
             border: $basic-purple;
        }

    }

    .subHeader {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.5em;
        color: $bright;
    }

    &:hover {
        transform: translatey(5%);
        transition: $basic-transition;
       
    }

    a:hover {
        text-decoration: none;
    }
    
}









//MEDIA QUIERIES//
@media screen and (min-width: 577px) {}

@media screen and (max-width: 577px) {
    
}