//PORTAL MAIN PAGE/////
.content-box-portfolio-portal {

    .subHeader {
        text-align: center;
        color: $purple;
    }
}

.card.portfolio-portal-card {
    text-align: center;

    margin: 10px;
    margin-bottom: 4vw;
    padding: 0px;
    max-width: 280px;
    background: transparent;
    border: none;
    @include basic-shadow;

    .card-body {
        padding: 5px;
    }

    img {
        border: none;
        border-radius: 15px;
        transition: $basic-transition;
    }

    .subHeader {
        margin-top: 5px;
        margin-bottom: 5px;
        font-size: 1.2em;
        color: $pink;
        text-transform: uppercase;
        border-bottom: $basic-purple;
    }

    &:hover {
        transition: $basic-transition;
        animation-name: beat;
        animation-duration: 1000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        z-index: 999;
    }

    a:hover {
        text-decoration: none;
    }
}



//PORTFOLIO ELEMENT PAGES//
.content-box.content-box-portfolio{
    text-align: center;

    .mainHeader {
        margin-bottom: 2px;
    }
}













//MEDIA QUIERIES//
@media screen and (min-width: 577px) {}

@media screen and (max-width: 577px) {}