 //Global Typography Styles//
 
 //The Main Header Component Styles//
 .mainHeader {
     font-family: $headerFont;
     text-transform: uppercase;
     color: $magenta;
     font-size: 4.5em;
 }

  //The Sub Header Component Styles//
 .subHeader {
     font-family: $headerFont;
     color: $pink;
     letter-spacing: 5px;
     font-size: 1.8em;
 }


 //MEDIA QUIERIES//
 @media screen and (min-width: 577px) {}

 @media screen and (max-width: 577px) {
    .mainHeader {
        font-size: 3.4em;
    }

    .subHeader {
        font-size: 1.5em;
    }
 }