 .mainHeader {
     font-family: $headerFont;
     text-transform: uppercase;
     color: $magenta;
     font-size: 4.5em;

 }

 .subHeader {
     font-family: $headerFont;
     
     color: $purple;
     letter-spacing: 5px;
     font-size: 1.8em;

 }