//Color scheme
$dark: #272424;
$purple: rgb(140, 119, 148);
$magenta: #AB549B;
$pink: #e994bb;
$bright: #f0d5de;

//Fonts
$headerFont: 'Quicksand', sans-serif;
$textFont: 'Montserrat',sans-serif;

//Static Gradients//
$dark-lighter-gradient: linear-gradient(72deg, rgba(39, 36, 36, 1) 43%, rgba(77, 68, 68, 0.7) 100%);

//Borders//
$bah: solid 3px magenta; //Only used for visual selection of elements//

$basic-purple: solid 2px $purple;
$bold-purple: solid 7px $purple;

$basic-bright: solid 2px $bright;
$bold-bright: solid 7px $bright;

$basic-magenta: solid 2px $magenta;
$bold-magenta: solid 7px $magenta;

$basic-pink: solid 2px $pink;
$bold-pink: solid 7px $pink;

$basic-dark: solid 2px $dark;
$bold-dark: solid 7px $dark;

//Transitions
$basic-transition: 0.3s ease-in-out;