//Color scheme
$dark: #272424;
$purple: #80668A;
$magenta: #AB549B;
$pink: #e994bb;
$bright: #f0d5de;

//Fonts
$headerFont: 'Quicksand', sans-serif;
$textFont: 'Montserrat',sans-serif;

//Static Gradients//
$dark-lighter-gradient: linear-gradient(72deg, rgba(39, 36, 36, 1) 43%, rgba(77, 68, 68, 0.7) 100%);


//Borders//
$bah: solid 3px magenta;
$basic-purple: solid 2px $purple;
$bold-purple: solid 7px $purple;

$basic-bright: solid 2px $bright;
$bold-bright: solid 7px $bright;

$basic-magenta: solid 2px $magenta;
$bold-magenta: solid 7px $magenta;

//Transitions
$basic-transition: 0.3s ease-in-out;